.admin-layout {
  display: flex;
  background-color: #f4f7f6;
  min-height: 100vh;
}

.admin-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.admin-page-content {
  padding: 2rem;
  overflow-y: auto;
}