

.kabar-section {
  text-align: center;
  padding: 80px 0;
  background-color: #f8f9fa;
}

.kabar-title {
  font-weight: bold;
  font-size: 2rem;
}

.kabar-subtitle {
  color: #6c757d;
  margin-bottom: 40px;
}


.kabar-swiper {
  max-width: 900px;  
  width: 100%;
  margin: 0 auto;    
  padding-bottom: 60px !important;
  position: relative;
}


.kabar-slide {
  display: flex;
  
}

.kabar-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  gap: 2rem;
  border: 2px solid #00a5cf;
  box-shadow: none;
  width: 100%; 
}

.kabar-text {
  flex: 1;
  text-align: left;
}
.kabar-text h5 {
  font-weight: bold;
  font-size: 1.25rem;
}
.kabar-date {
  color: #00a5cf;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.kabar-description {
  color: #6c757d;
  font-size: 0.95rem;
}
.kabar-image {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.btn-selengkapnya {
  margin-top: 15px;
  background-color: white;
  border: 1px solid #00a5cf;
  color: #00a5cf;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.btn-selengkapnya:hover {
  background-color: #00a5cf;
  color: white;
}


.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top: 93%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-button-prev {
  left: calc(50% - 90px); 
}

.swiper-button-next {
  right: calc(50% - 90px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00a5cf;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #00a5cf;
}