.kabar-section {
  text-align: center;
  padding: 80px 0;
  background-color: #f8f9fa;
}

.kabar-title {
  font-weight: bold;
  font-size: 2rem;
}

.kabar-subtitle {
  color: #6c757d;
  margin-bottom: 40px;
}

.kabar-swiper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px !important;
  position: relative;
}


.kabar-slide {
  display: flex;
}


.kabar-card {
  display: flex;
  align-items: center; 
  gap: 2rem;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  border: 2px solid #00a5cf;
  width: 100%;
  height: 300px; 
  position: relative;
}

.kabar-text {
  flex: 1;
  text-align: left;
}

.kabar-text h5 {
  font-weight: bold;
  font-size: 1.25rem;
}

.kabar-date {
  color: #00a5cf;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.kabar-description {
  color: #6c757d;
  font-size: 0.95rem;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 60px; 
}

.btn-selengkapnya {
  position: absolute;
  bottom: 24px; 
  left: 24px; 
  background-color: white;
  border: 1px solid #00a5cf;
  color: #00a5cf;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.btn-selengkapnya:hover {
  background-color: #00a5cf;
  color: white;
}

.kabar-image {
  width: 300px;
  height: 200px; 
  object-fit: cover;
  border-radius: 12px;
}



.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #00a5cf;
}