.rekrutmen-page-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.rekrutmen-title {
  font-weight: 800;
  font-size: 2.2rem;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.rekrutmen-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 4px;
  background-color: #007bff;
}

.rekrutmen-subtitle {
  color: #6c757d;
  margin-top: 10px;
}